/* Importa a fonte Open Sans do Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

/* Background pattern */
.chat-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #121212;
  background-image: url('https://storage.typebot.live/typebot/public/workspaces/mathuza@gmail.com/typebots/clxgkbhjb006cegl854f2554c/background?v=1718482981767'), url('https://www.transparenttextures.com/patterns/cubes.png');
  background-size: cover, contain;
  background-repeat: no-repeat, repeat;
}

/* Top bar (User Information) */
.user-bar {
  background-color: #0b141b;
  color: #e9edef;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
}

.user-bar .avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.user-bar .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-bar .name {
  font-weight: 600;
  font-size: 1.2em;
}

.user-bar .status {
  font-size: 0.9em;
  color: #00a884;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.user-bar .status::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #00a884;
  border-radius: 50%;
  margin-right: 5px;
}

/* Chat Messages */
.chat-box {
  flex: 1;
  padding: 10px 15px;
  overflow-y: auto;
  margin-bottom: 65px; 
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message.typebot-host-bubble {
  justify-content: flex-start;
}

.message.typebot-user-bubble {
  justify-content: flex-end;
}

.message .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.message .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.message .bubble-content {
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 16px;
  line-height: 1.4;
  max-width: 75%;
}

.message.typebot-host-bubble .bubble-content {
  background-color: #202c33;
  color: #e9edef;
}

.message.typebot-user-bubble .bubble-content {
  background-color: #075e54;
  color: #e9edef;
}

/* Typing Animation */
.bubble-typing {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #e9edef;
  animation: blink 1.4s infinite steps(4, start);
}

.bubble-typing span {
  margin: 0 2px;
  animation: blink 1.4s infinite both;
}

.bubble-typing span:nth-child(2) {
  animation-delay: 0.2s;
}

.bubble-typing span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

/* Input Area */
.chat-input {
  background-color: #2a2f32;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-input input[type="text"] {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  color: #e9edef;
  background-color: #33383b;
}

.chat-input input[type="text"]::placeholder {
  color: #868c90;
}

.chat-input button {
  width: 45px;
  height: 45px;
  background-color: #00a884;
  border: none;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chat-input button img {
  width: 20px;
  height: 20px;
}

.chat-input button:hover {
  background-color: #009172;
}

/* Estilização para o contêiner do input */
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  background-color: #2a2f32;
}

/* Estilização para o input de email */
.styled-input {
  flex-grow: 1; 
  padding: 10px;
  border: 1px solid #333;
  border-radius: 20px;
  margin-right: 10px;
  font-size: 16px;
  color: #e9edef;
  background-color: #33383b;
}

.styled-input::placeholder {
  color: #868c90;
}

/* Estilização para o botão de envio */
.styled-button {
  width: 45px;
  height: 45px;
  background-color: #0b141b;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.styled-button:hover {
  background-color: #0b141b;
}

.styled-button img {
  width: 20px;
  height: 20px;
}


/* Estilização para o botão de resposta */
.response-button {
  background-color: #00a884;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  text-align: center;
  float: right; 
  clear: both;
  margin-bottom: 10px; 
}

.response-button:hover {
  background-color: #008d73;
}

.response-button:active {
  background-color: #007b64;
}

.response-button:focus {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 168, 132, 0.5);
}